<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>logo.png</string>
			<key>Shell Script File</key>
			<string>script.pl</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/perl</string>
			<key>Title</key>
			<string>Perl Error Sublime</string>
			<key>Regular Expression</key>
			<string>at \S+ line \d+</string>
		</dict>
	</array>
	<key>Extension Identifier</key>
	<string>com.twoshortplanks.popclip.perlerrorsublime</string>
	<key>Extension Name</key>
	<string>Perl Error Sublime</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>